{% extends( 'base.twig' ) %}
{% block body %}

    <img src="{{ post.image_path }}" class="card-img-top" alt="...">

    <h2 class="title">{{ post.title|escape }}</h2>
    <p class="text"><small class="text-muted">Author name | {{ post.published_date | date( "F d, Y") }}</small></p>

    <div class="container">
        <div class="row">
            <p>
                {{ post.content | raw }}
            </p>

        </div>
    </div>

{% endblock %}
